<!-- Top Header Start -->
<div class="container-fluid taxi-booking-heater">
   <div class="taxi-heater">
      <div class="container taxi-container-header">
         <nav class="navbar taxi-navbar">
            <div class="navbar-header">
               <button type="button" class="navbar-toggle taxi_navbar_toggle" data-toggle="collapse" data-target="#dropdown-navbar">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
            </div>
            <div class="collapse navbar-collapse" id="dropdown-navbar">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="javascript:void(0)"> Wallet</a></li>
                  <li><a href="javascript:void(0)">My Bookings</a></li>
                  <li><a href="javascript:void(0)">Tracking</a></li>
                  <li><a href="javascript:void(0)">Support</a></li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
   <div class="taxi-booking-navbar">
      <div class="container taxi-navbar-container">
         <nav class="navbar booking-navbar">
            <div class="navbar-header booking-navbar-header">
               <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-taxi-booking">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <div class="booking-logo">
                  <img src="assets/images/Logo.png">
               </div>
            </div>
            <div class="collapse navbar-collapse" id="navbar-taxi-booking">
               <ul class="nav navbar-nav navbar-right">
                  <li><a href="index.html">Citi Taxi</a></li>
                  <li><a href="booking-ride.html">Out Station</a></li>
                  <li><a href="booking-confirmation.html">Rentals</a></li>
                  <li><a href="payment-new.html">Tariff</a></li>
                  <li><a href="finish-rides.html">Offers</a></li>
                  <li>
                     <a href="#" class="col-md-6 col-sm-6 col-xs-6 register" data-toggle="modal" data-target="#SignupModal">Register</a>
                     <a href="#" class="col-md-6 col-sm-6 col-xs-6 login" data-toggle="modal" data-target="#LoginModal">Login</a>
                  </li>
               </ul>
            </div>
         </nav>
      </div>
   </div>
</div>
<!-- Top Header End -->
<!-- Login Modal -->
<div id="LoginModal" class="modal fade" role="dialog">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-body login_modal_body">
            <img src="assets/images/Logo.png" class="modal_logo">
            <form action="" name="login">
               <div class="form-group">
                  <input type="email" class="form-control" name="email" placeholder="Email Address" autocomplete="off">
               </div>
               <div class="form-group">
                  <input type="password" class="form-control" name="password" placeholder="Password" autocomplete="off">
               </div>
               <input type="submit" class="btn btn-search">
               <p class="modal_text">Don't have an account? <a href="#" class="modal_link" data-toggle="modal" data-target="#SignupModal">Signup</a></p>
            </form>
         </div>
      </div>
   </div>
</div>
<!-- Signup Modal -->
<div id="SignupModal" class="modal fade" role="dialog">
   <div class="modal-dialog modal-sm">
      <div class="modal-content">
         <div class="modal-body signup_modal_body">
            <img src="assets/images/Logo.png" class="modal_logo">
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
            <div class="form-group">
               <input type="text" class="form-control" id="name" required	pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="model.name" name="name" #name="ngModel" placeholder="First name" autocomplete="off">
               <div [hidden]="name.valid || name.pristine" class="error-block">
                  <div [hidden]="!name.hasError('required')">Name is required</div>
                  <div [hidden]="!name.hasError('pattern')">Only alphabetsallowed</div>
               </div>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" id="emailaddress" required [(ngModel)]="model.email" name="email"
               pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"  #email="ngModel" placeholder="Email Address" autocomplete="off">
               <div [hidden]="email.valid || email.pristine" class="error-block">
                  <div [hidden]="!email.hasError('required')">Email is required</div>
                  <div [hidden]="!email.hasError('pattern')">Email format should be <small><b>joe@abc.com</b></small></div>
               </div>
            </div>
            <div class="form-group">
               <input type="text" class="form-control" id="mobilenumber" required
               [(ngModel)]="model.mobile" name="mobilenumber" pattern="[0-9]*" minlength="10" maxlength="10"  #mobile="ngModel" placeholder="Mobile Number" autocomplete="off">
               <div [hidden]="mobile.valid || mobile.pristine"
                  class="error-block">
                  <div [hidden]="!mobile.hasError('minlength')">Mobile should be 10digit</div>
                  <div [hidden]="!mobile.hasError('required')">Mobile is required</div>
                  <div [hidden]="!mobile.hasError('pattern')">Mobile numberr should be only numbers</div>
               </div>
            </div>
            <div class="form-group">
               <input type="password" class="form-control" id="password" required [(ngModel)]="model.password" name="password"	#password="ngModel" placeholder="Password" autocomplete="off">
               <div [hidden]="!password.hasError('required') || password.pristine" class="error-block">Password is required</div>
            </div>
            <div class="form-group">
               <input type="password" class="form-control" id="confirmPassword" required validateEqual="password"
               [(ngModel)]="model.confirmPassword" name="confirmPassword" #confirmPassword="ngModel"  placeholder="Confirm Password" autocomplete="off">
               <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
                  class="error-block">
                  Passwords did not match
               </div>
            </div>
            <div class="form-group">
               <select [(ngModel)]="model.usertype" class="form-control" #usertype="ngModel"  name="usertype" required>
               <option value="">Select User Type</option>
               <option value="1">Driver</option>
               <option value="2">User</option>
               </select>
               <div [hidden]="usertype.valid || usertype.pristine" class="error-block">
                  <div [hidden]="!usertype.hasError('required')" class="error-block">Select user type</div>
               </div>
            </div>
            <button type="submit" class="btn btn-success btn-block" [disabled]="!loginForm.form.valid">Submit</button>
            </form>
         </div>
      </div>
   </div>
</div>