<!-- Banner Content Start -->
<div class="container-fluid" [class.taxi-booking-details]="checkUser" [class.taxi-booking-details-no-margin]='!checkUser'>
	<div class="container taxi-container-details">
		<div class="col-md-12 col-sm-12 col-xs-12 taxi-service-datils">
			<div class="col-md-6 col-sm-6 col-xs-12 taxi-safe-hands">
				<h4>You are in Safe Hands</h4>
				<h3>Best Taxi Services</h3>
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 taxi-register-form">
				<div class="taxi-register">
					<ul class="register-tabs">
						<li><a  class="active" href="javascript:void(0)">Citi Taxi</a>
						<li><a href="javascript:void(0)">Outstation</a></li>
						<li><a href="javascript:void(0)">Rentals</a></li>
					</ul>
					<div class="register-content">
						<form (ngSubmit) ="goToBooking(bookingForm.form.valid);"  name="bookingForm" #bookingForm="ngForm">
							<h3>Your everyday travel partner</h3>
							<p>Ac Cabs for point to point travel</p>
							<div class="form-group">
								<!--<input type="text" class="form-control" id="locations" placeholder="Current Location" name="locations">-->
								<input type="text" class="form-control" placeholder="Current Location" name="startLocationCtrl" [(ngModel)]="startlocation.address" #startLocationCtrl="ngModel" Googleplace (setAddress)="getAddressOnChange($event,startLocationCtrl)" required>
								<div [hidden]="startLocationCtrl.valid || startLocationCtrl.pristine" class="error-block">
									<div [hidden]="!startLocationCtrl.hasError('required')" class="error-block">Enter a Start Location</div>
								</div>
							</div>
							<div class="form-group">
								<!--<input type="text" class="form-control" id="drop-locations" placeholder="Drop Locations" name="drop-locations">-->
								<input type="text" class="form-control" placeholder="Drop Location" name="dropLocationCtrl" [(ngModel)]="droplocation.address" #dropLocationCtrl="ngModel" Googleplace (setAddress)="getAddressOnChange($event,dropLocationCtrl)" required>
								<div [hidden]="dropLocationCtrl.valid || dropLocationCtrl.pristine" class="error-block">
									<div [hidden]="!dropLocationCtrl.hasError('required')" class="error-block">Enter a Drop Location</div>
								</div>
							</div>
							<div class="form-group">
								<select class="form-control" #TimeVar="ngModel" [(ngModel)] = "pickupTime"  name="pickupTime">
									<option>Now</option>
								</select>
							</div>
							<div class="form-group">
								<button type="submit" class="btn btn-search" >Search Cabs</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Banner Content End -->

<!-- Welcome Container Start -->
<div class="container-fluid welcome_container">
	<div class="container taxi-container-details text-center">
		<div class="col-md-offset-2 col-md-8">
			<p class="what_we">What we offer</p>
			<h1 class="welcome">Welcome To Us</h1>
			<p class="welcome_text">We created our taxi to help you find the most dependable and highest quality taxi services, anytime and anywhere. All our drivers are uniformed and fully licensed.</p>
		</div>
	</div>
	<div class="container">
		<div class="col-md-3 col-sm-3 text-center side_border">
			<img src="assets/images/pickup.png">
			<h3 class="category_header">Address Pickup</h3>
			<p class="category_text">We always pick up our clients on time, 24/7 availability.</p>
		</div>
		<div class="col-md-3 col-sm-3 text-center side_border">
			<img src="assets/images/airport.png">
			<h3 class="category_header">Airport Transfer</h3>
			<p class="category_text">GetCab specialized in 24 hours airport transfer service.</p>
		</div>
		<div class="col-md-3 col-sm-3 text-center side_border">
			<img src="assets/images/distance.png">
			<h3 class="category_header">Long Distance</h3>
			<p class="category_text">We offer you a long distance taxi service to anywhere.</p>
		</div>
		<div class="col-md-3 col-sm-3 text-center">
			<img src="assets/images/taxi.png">
			<h3 class="category_header">Taxi Tours</h3>
			<p class="category_text">We offer taxi tours of various durations and complexity</p>
		</div>
	</div>
</div>
<!-- Welcome Container End -->

<!-- Mission Container Start -->
<div class="container-fluid mission_container">
	<div class="container">
		<!-- <div class="col-md-12"> -->
			<div class="col-md-6 col-sm-6 col-xs-12 mission_content">
				<img src="assets/images/image.png" class="mission_img img_responsive_custom">
			</div>
			<div class="col-md-6 col-sm-6 col-xs-12 mission_content">
				<p class="about_us">Shortly about us</p>
				<h1 class="mission_statement">Our Mission Statement</h1>
				<p class="mission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim a corehenderit in cupidatat non proident, sunt in culpa qui officia. deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
				<p class="mission_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim a corehenderit in cupidatat non proident, sunt in culpa qui officia. deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error.</p>
				<div class="col-md-3 col-sm-4 col-xs-4 mission_category">
					<img  class="mission_category_img" src="assets/images/guarantee.png">
					<p class="mission_category_text">Surge-free Guarantee</p>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-4 mission_category">
					<img  class="mission_category_img" src="assets/images/book.png">
					<p class="mission_category_text">Book for Now or Later</p>
				</div>
				<div class="col-md-3 col-sm-4 col-xs-4 mission_category">
					<img  class="mission_category_img" src="assets/images/cashless.png">
					<p class="mission_category_text">Cashless Payment</p>
				</div>
			</div>
		<!-- </div> -->
	</div>
</div>
<!-- Mission Container End -->

<!-- Service Container Start -->
<div class="container-fluid service_container">
	<div class="container taxi-container-details text-center">
		<div class="col-md-offset-3 col-md-9 service_contents">
			<p class="service">Service Is our attitude, and attitude Is everything</p>
			<h1 class="available">Available Service</h1>
			<div>
				<ul class="nav nav-tabs taxi-nav-tabs">
					<li class="active"><a data-toggle="tab" href="#standard-taxi" class="btn variety_btn">Standard Taxi</a></li>
					<li><a data-toggle="tab" href="#maxi-taxi" class="btn variety_btn">Maxi Taxi</a></li>
					<li><a data-toggle="tab" href="#solo-taxi" class="btn variety_btn">Solo Taxi</a></li>
					<li><a data-toggle="tab" href="#suv-taxi" class="btn variety_btn">SUV Taxi</a></li>
				</ul>
			</div>
			<div class="tab-content">
				<div id="standard-taxi" class="tab-pane fade in active">
					<div class="col-md-12 col-sm-12 col-xs-12 service_panel">
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 col-offset-1 col-xs-11 service_content">
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Type Of Taxi</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">Standard</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Hiring Chage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">3.5$/Km</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Passenger Capacity</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">4</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Maximum Speed</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">60km/H</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Storage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">2 Luggage</div>
							</div>
							<button class="btn book_btn">Book Now</button>
						</div>
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 service_img">
							<img class="service_car_img img_responsive_custom" src="assets/images/taxt-car.png">
							<p class="service_tollfree"><img src="assets/images/call.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;012 - 3456 789</p>
						</div>
					</div>
				</div>
				<div id="maxi-taxi" class="tab-pane fade in">
					<div class="col-md-12 col-sm-12 col-xs-12 service_panel">
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 col-offset-1 col-xs-11 service_content">
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Type Of Taxi</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">Maxi</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Hiring Chage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">3.5$/Km</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Passenger Capacity</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">4</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Maximum Speed</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">60km/H</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Storage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">2 Luggage</div>
							</div>
							<button class="btn book_btn">Book Now</button>
						</div>
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 service_img">
							<img class="service_car_img img_responsive_custom" src="assets/images/taxt-car.png">
							<p class="service_tollfree"><img src="assets/images/call.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;012 - 3456 789</p>
						</div>
					</div>
				</div>
				<div id="solo-taxi" class="tab-pane fade in">
					<div class="col-md-12 col-sm-12 col-xs-12 service_panel">
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 col-offset-1 col-xs-11 service_content">
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Type Of Taxi</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">Solo</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Hiring Chage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">3.5$/Km</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Passenger Capacity</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">4</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Maximum Speed</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">60km/H</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Storage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">2 Luggage</div>
							</div>
							<button class="btn book_btn">Book Now</button>
						</div>
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 service_img">
							<img class="service_car_img img_responsive_custom" src="assets/images/taxt-car.png">
							<p class="service_tollfree"><img src="assets/images/call.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;012 - 3456 789</p>
						</div>
					</div>
				</div>
				<div id="suv-taxi" class="tab-pane fade in">
					<div class="col-md-12 col-sm-12 col-xs-12 service_panel">
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 col-offset-1 col-xs-11 service_content">
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Type Of Taxi</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">SUV</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Hiring Chage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">3.5$/Km</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Passenger Capacity</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">4</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Maximum Speed</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">60km/H</div>
							</div>
							<div class="col-md-12 col-sm-12 col-xs-12 service_items">
								<div class="col-md-6 col-sm-6 col-xs-6 service_header">Storage</div>
								<div class="col-md-6 col-sm-6 col-xs-6 service_text">2 Luggage</div>
							</div>
							<button class="btn book_btn">Book Now</button>
						</div>
						<div class="col-md-6 col-offset-3 col-sm-6 col-offset-3 service_img">
							<img class="service_car_img img_responsive_custom" src="assets/images/taxt-car.png">
							<p class="service_tollfree"><img src="assets/images/call.png">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;012 - 3456 789</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<!-- Service Container End -->

<!-- Application Container Start -->
<div class="container-fluid application_container">
	<div class="container">
		<div class="col-md-5 col-sm-5 col-xs-12 text-center">
			<img src="assets/images/mobile.png" class="img_responsive_custom">
		</div>
		<div class="col-md-7 col-sm-7 col-xs-12 app">
			<p class="search">Search Taxi Booking app</p>
			<h1 class="application">Get a Mobile Application</h1>
			<h6 class="sub_head">Easy Searching</h6>
			<p class="app_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<h6 class="sub_head">Quick Pickups</h6>
			<p class="app_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<h6 class="sub_head">Inclusive Rates</h6>
			<p class="app_text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
			<!-- <div class="col-md-12 col-sm-12 play_store"> -->
				<div class="col-md-5 col-sm-6 col-xs-6 play_store">
					<a href="#"><img src="assets/images/apple-btn.png" class="play_store_btn img_responsive_custom"></a>
				</div>
				<div class="col-md-5 col-sm-6 col-xs-6 play_store">
					<a href="#"><img src="assets/images/android-btn.png" class="play_store_btn img_responsive_custom"></a>
				</div>
			<!-- </div> -->
		</div>
	</div>
</div>
<!-- Application Container End -->

